/* Contact Page Styles */
.contact-page-container {
  display: flex;
  flex-direction: column;
}

/* Image Banner Styling */
.image-banner {
  height: 700px; /* Limit height to take only the upper part of the page */
  overflow: hidden; /* Hide overflow */
}

.image-banner img {
  width: 100%;
  height: 100%; /* Cover the height but maintain aspect ratio */
  object-fit: cover; /* Cover the banner */
  transition: transform 0.5s ease; /* Smooth zoom effect */
}

.image-banner:hover img {
  transform: scale(1.1); /* Slightly enlarge the image on hover */
}

/* Contact Container */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  animation: fadeIn 0.5s ease; /* Fade-in effect for the contact container */
}

.contact-form {
  flex: 1;
  margin-right: 20px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: slideInLeft 0.5s ease; /* Slide-in effect for form */
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact-form p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group input {
  width: 48%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease; /* Transition for input focus */
}

.input-group input:focus {
  border-color: #4a5a3e !important; /* Change border color on focus */
  outline: none; /* Remove default focus outline */
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease; /* Transition for input focus */
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #4a5a3e !important;
  outline: none; /* Remove default focus outline */
}

textarea {
  height: 100px;
}

button {
  padding: 12px;
  background-color: #b2925a;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth button transition */
}

button:hover {
  background-color: #b2925a;
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

.map-container {
  flex: 1;
}

iframe {
  width: 100%;
  height: 500px;
  border: 0;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
