.carousel-image {
  width: 100%;
  height: 500px; /* Adjust this to the height you want */
  object-fit: cover; /* This ensures the image covers the area without distortion */
}

@media (max-width: 768px) {
  .carousel-image {
    height: 300px; /* Adjust height for smaller screens */
  }
}

.carousel-section {
  max-width: 100%;
  overflow: hidden;
}
