
/* Background and overall container styling for the registration page */
.background-img {
    background-image: url('../images/dahab-background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire area */
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; /* Full height of the viewport */
    display: flex; /* Use flexbox to center the form */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}


/* Gender in Register */

.select-gender{
    background-color: #fff; /* White input boxes */
    border: 1px solid #4a5a3e !important; /* Gold-like yellow border */
    border-radius: 6px;
    padding: 15px;
    font-size: 16px;
    color: #000;
    font-family: 'Times New Roman', serif;
    appearance: none; /* Optional: removes default styling in some browsers */
}  

.select-gender:hover{
    border-color: #4a5a3e;
    box-shadow: 0px 0px 5px #60774f; 
}