.ContainerPage {
    padding: 0px;
    display: flex;
    flex-direction: column-reverse;
    padding: 50px;
    width: 100%;
    gap: 20px;
}
.Error {
    width: 100%;
    font-size: 22px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    /* display: none; */
    margin: 0;
    transition: 0.4s;
    background-color: #da5252d8;
    border: 1px solid rgba(131, 22, 22, 0.678);
    padding-block: 10px;
    border-radius: 5px;
    scale: 0;
}
.ContainersRooms {
    width: 100%;
    /* height: 63vh; */
    /* max-height: 100vh; */
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    background-color: rgb(237 237 237);
    border-radius: 20px;
}

.ContainersRooms::-webkit-scrollbar {
    width: 0px;
}

.ContainersRooms p {
    font-size: 24px;
    color: black;
    font-weight: 600;
    width: 100%;
}

.RoomsNumber {
    width: 60px;
    height: 45px;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.FilterDays {
    display: flex;
    width: 50%;
}
.FilterDays:not(:last-of-type) {
    margin-bottom: 15px;
}
.FilterDays span {
    padding: 11px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-inline: 40px;
}
input[type="text"], input[type="email"], textarea {
    margin-bottom: 0px !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month,
.flatpickr-months .flatpickr-month,
.flatpickr-current-month .flatpickr-monthDropdown-months {
    background-color: #000 !important;
}

.flatpickr-months .flatpickr-prev-month:hover svg path,
.flatpickr-months .flatpickr-next-month:hover svg path {
    fill: gold;
}

.flatpickr-weekdays,
span.flatpickr-weekday {
    background-color: #000 !important;
    color: #fff !important;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    background-color:#FFC107 !important;
    border-color: #FFC107 !important;
}
.flatpickr-input[readonly] {
    border-color: #000 !important;
}
.flatpickr-calendar.arrowTop:after {
    border-bottom-color: #000 !important;
}
.form-select {
    border-color: #000;
}
.form-select:focus {
    border-color: #000 !important;
    box-shadow: 0 0 0 .25rem #ffc10730 !important;
}
input:focus-visible {
    border-color: #FFC107 !important;
 
        outline: none !important;  
        outline-offset: -100px !important; 

}
.FROMTO {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}
.BTNFilter {
    width: 100%;
    background-color: #000 !important;
    text-align: center;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border: none !important;
    transition: 0.3s;
}
.BTNFilter:hover {
    transform: none !important;
    box-shadow: 0px 0px 10px #000;
}