/* About Our Rooms Section */
.about-rooms-section {
    background-color: #f8f9fa; /* Light background color */
    padding: 40px 0;
  }
  
  .about-rooms-section h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-rooms-icon ul {
    padding: 0;
  }
  
  .about-rooms-icon ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .about-rooms-section {
      text-align: center;
    }
  
    .about-rooms-icon ul {
      text-align: center;
    }
  }
  